# Environment & secrets
.env
.env.local
.env.*

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

#node
node_modules/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log
# Local Netlify folder
.netlify
